
#header
  include sections/header.pug
#principes.ui.raised.segment
  .title-p Principes
  .content
    include sections/principes.pug

#objectifs.ui.raised.segment
  .title-o Objectifs
  .content
    include sections/objectifs.pug

#methodes.ui.raised.segment
  .title-m Méthodologie
  .content
    include sections/methodes.pug

#resultats.ui.raised.segment
  .title-r Résultats
  .content
    include sections/resultats.pug


#sources.ui.raised.segment
  .title-s Bibliographie
  .content
    include sections/sources.pug

#credits.ui.raised.segment
  .title-c Crédits
  .content
    include sections/credits.pug

style
  include:scss poster.scss

style(lang="css")
  :scss
    body {
      grid-template-areas:
        "O O H H H R R"
        "M M H H H R R"
        "M M P P P R R"
        "M M P P P R R"
        "S S S S S C C";
      #objectifs { grid-area: O; }
      #header { grid-area: H; }
      #methodes { grid-area: M; }
      #principes { grid-area: P; }
      #resultats { grid-area: R; }
      #sources { grid-area: S; }
      #credits { grid-area: C; }
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);

    }
