#credits {
  .content {
    font-family: "IBM Plex Sans" !important;
    padding: 1cm;
    text-align: left;
    p {
      font-size: 24px !important;
    }
  }

  .title-c {
    font-family: "IBM Plex Mono" !important;
    background-color: #272838;
    border-radius: 0 0.2in 0.2in 0 !important;
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;
    position: relative;
    margin: 0;
    min-width: max-content;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    background-image: none;
    padding: .5833em .833em;
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    color: white;
    font-size: 60px;
  }
}
