:markdown-it
  Poster réalisé par **Antoine Fauchié** en juin 2020 à Montréal dans le cadre du séminaire "Humanités numériques : Approche interdisciplinaire".

  Licence Creative Commons BY-SA Antoine Fauchié [www.quaternum.net](https://www.quaternum.net) ([antoine.fauchie@umontreal.ca](mailto:antoine.fauchie@umontreal.ca))

  Source : [gitlab.huma-num.fr/antoinefauchie/fabriques-de-publication-poster](https://gitlab.huma-num.fr/antoinefauchie/fabriques-de-publication-poster)

  Poster réalisée avec [ReLaXeD](https://github.com/RelaxedJS/ReLaXed) (Icônes : [flaticon+freepik](https://www.flaticon.com/authors/freepik))

style
  include:scss credits.scss
