h1.retroshadow Les fabriques de publication #[.using Antoine Fauchié]
#abstract
  :markdown-it
    Comment écrivons-nous ? Quels outils et quels processus mettons-nous en place pour concevoir, produire et publier des documents tels que des livres ou des articles scientifiques ? Nous interrogeons les façons de faire _avec_ le numérique, que ce soit dans le cadre de démarches éditoriales au sein de structures collectives, ou dans des situations individuelles d'écriture. Nous nous concentrons sur le champ littéraire au sens large, incluant la littérature et l'édition scientifique, et donc la production de textes académiques – nécessitant notamment une structuration fine et de multiples artéfacts comme supports de lecture. Notre travail s'inscrit dans le courant des études des médias ou des études des logiciels, bénéficiant de l'apport de l'approche interdisciplinaire des humanités numériques.
style
  include:scss header.scss
