@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,700&display=swap';
#header {
  h1 {
    margin: 0;
    font-size: 1.4in !important;
    font-family: "IBM Plex Mono" !important;
    weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow:
      .05em .05em 0px #CBA135,
      .08em .08em 0px rgba(0, 0, 0, 0.2);
    .using {
        text-shadow: none;
        font-size: 0.5em;
        text-transform: uppercase;
        margin-top: -0.4em;
        margin-bottom: -0.4em;
    }
  }

  #abstract {
   font-family: "IBM Plex Mono" !important;
   font-size: 42px;
   width: 100%;
   height: auto;
   background-color: #272838;
   margin-top: 1in;
   color: #ffffffdd;
   text-align: justify;
   padding: 1.8em;
   p {
   }
  }
}
