:markdown-it

  ## Dénomination
  Le choix du terme _fabrique_ est fait en comparaison avec d'autres termes, regroupés dans plusieurs champs lexicaux : outil, instrument, dispositif, machine ; technologie, technique, méthode ; chaîne, système, fabrique, forge. Le terme _fabrique_ comprend plusieurs notions pertinentes dans le cadre de notre recherche : étymologiquement le terme provient du latin _fabrica_, soit une forge (https://fr.wiktionary.org/wiki/fabrique), et par extension historique il s'agit d'un établissement à caractère artisanal ; au sens figuré il s'agit d'une création ou d'une invention (https://fr.wikipedia.org/wiki/Fabrique)&nbsp;; en informatique "une fabrique est un patron de conception utilisé en génie logiciel pour créer des instances répondant à des critères spécifiques", un patron de conception étant un agencement de composants. Ces notions entrent en résonance à la fois avec les programmes et logiciels présentés, notamment dans la dimension sur mesure de ces solutions, mais aussi avec les principes exposés (modularité, interopérabilité, ouverture, originalité).

  ## Sélection
  Les _fabriques_ sont sélectionnées à partir d'un travail de recherche et de veille, en prenant en compte au moins 3 des 4 critères spécifiés dans la partie **Principes** (modularité, interopérabilité, ouverture, originalité). Les nombreuses fabriques qui n'ont pas été retenues ne sont pas présentées ou évoquées ici, il s'agit souvent de logiciels propriétaires (donc non ouverts) qui ne comportent pas de dimension modulaire.

  ## Critères d'analyse
  Chaque fabrique est analysée avec les critères suivants :

  - **description** : présentation succincte et objective, avec comme but de pouvoir être comprise par des non-technicien·nes ;
  - **histoire** : éléments chronologiques pertinents, notamment la raison de la création de la fabrique et ses évolutions ;
  - **spécimens** : exemples concrets d'utilisation de la fabrique ;
  - **critique** : interrogation de la fabrique sur différents points, l'objectif est d'analyser la correspondance de la fabrique avec plusieurs des principes ;
  - **vers d'autres fabriques** : fabriques en résonance, c'est-à-dire d'autres fabriques qui peuvent avoir un fonctionnement similaire.

style
  include:scss methodes.scss
