#objectifs .content {
  font-family: "IBM Plex Sans" !important;
  padding: 1cm;
  text-align: justify;
  p {
    font-size: 26 !important;
  }
  h2 {
    font-family: "IBM Plex Mono" !important;
    font-size: 35px;
  }
  .figure {
    margin-top: 1cm;
  }
}

.title-o {
  font-family: "IBM Plex Mono" !important;
  background-color: #33A1FD;
  border-radius: 0 0.2in 0.2in 0 !important;
  left: calc(-1rem - 1.2em);
  margin-right: -1.2em;
  padding-left: calc(1rem + 1.2em);
  padding-right: 1.2em;
  position: relative;
  margin: 0;
  min-width: max-content;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  background-image: none;
  padding: .5833em .833em;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  color: white;
  font-size: 60px;
}
