:markdown-it
  Quelle relation entretenons-nous avec la technique dans le cas de _dispositifs_ de publication ? Cette recherche concerne autant l'inscription, la structuration de l'information, sa mise en forme et sa publication. Dans le domaine de l'édition il s'agit de la **chaîne éditoriale**, avec ses différents métiers et processus. L'analyse d'un certain nombre de _fabriques_, avec des critères spécifiques, nous permet d'envisager des processus et des systèmes alternatifs. Ce travail est une occasion de penser en dehors de modèles pré-conçus, tels que les traitements de texte traditionnels.

style
  include:scss objectifs.scss
