.icon
  img(src="./sections/images/modularite.png")

:markdown-it
  ## Modularité
  Le principe de modularité est l'assemblage de différents composants d'une fabrique en envisageant le remplacement d'un composant par un autre. L'image des briques de Lego est une bonne illustration de ce principe, il y a une résonance avec la "synergie" abordée par Gilbert Simondon (Simondon, 2012)

.icon
  img(src="./sections/images/interoperabilite.png")

:markdown-it
  ## Interopérabilité
  L'interopérabilité est la capacité d'un composant à communiquer avec un autre composant, ou plus spécifiquement la possibilité pour des programmes de communiquer librement entre eux, ou encore le fait qu'un programme comprenne un langage : tout cela grâce à des standards.

.icon
  img(src="./sections/images/ouverture.png")

:markdown-it
  ## Ouverture
  L'ouverture concerne ici  d'une part la licence attribuée aux programmes et aux logiciels présentés, d'autre part à la documentation qui accompagne la fabrique, et enfin à la publication du code permettant de faire fonctionner la fabrique. Ces éléments sont les clés d'une réutilisation ou d'une modification de la fabrique.

.icon
  img(src="./sections/images/originalite.png")

:markdown-it
  ## Originalité
  Il s'agit du caractère _non-conventionnel_ de la fabrique étudiée : quel est le degré d'originalité ? À quel point une fabrique se démarque d'autres outils plus largement utilisés ou adoptés. Le terme "alternatif" est également un qualificatif pertinent : quel est l'écart avec d'autres systèmes plus _traditionnels_ ?

style
  include:scss principes.scss
