:markdown-it
  8 fabriques de publication sont analysées en détail sur [quaternum.net/fabriques](https://www.quaternum.net/fabriques)

  ## LaTeX
  LaTeX est une fabrique de publication à haute exigence typographique, avec des contraintes d'usage et un balisage qui intègre de la mise en forme. LaTeX est très utilisé dans certains domaines scientifiques (Guichard, 2018), c'est une fabrique intégrée dans d'autres fabriques.

p #[.tag modularité ouverture originalité]

:markdown-it
  ## Pandoc
  Pandoc est un convertisseur – trop peu connu – multi-tâche et agnostique, il impose l'usage du terminal et de la ligne de commandes. Le langage de balisage léger Markdown est souvent utilisé pour baliser les documents sources. Cette fabrique est utilisée _dans_ de nombreuses fabriques. Pandoc permet de repenser le sens du texte (DeRose et al., 1990).

p #[.tag modularité interopérabilité ouverture originalité]

:markdown-it
  ## Asciidoctor
  Asciidoctor est un processeur pensé pour convertir le langage de balisage léger AsciiDoc, et promeut le "Doc as Code" mais permet aussi de produire des livres (Fauchié et Parisot, 2018).

p #[.tag modularité ouverture originalité]

:markdown-it
  ## Jekyll
  Jekyll est un générateur de site statique, il transforme des documents balisés avec le langage de balisage léger Markdown en un ensemble de fichiers HTML et CSS organisés. Jekyll est représentatif d'un mouvement qui place les technologies du web au centre des processus de publication, et est utilisé dans de nombreux cas (Diaz, 2018).

p #[.tag modularité interopérabilité ouverture originalité]

:markdown-it
  ## Org-Mode
  Org-Mode est un mode d'édition intégré à l'éditeur de texte Emacs (Dominik, 2010), il permet d'organiser, de structurer et de produire des documents dans divers formats. Sa puissance est proportionnelle aux contraintes qu'il impose.

p #[.tag modularité ouverture originalité]

:markdown-it
  ## Quire
  Quire est une fabrique de livres aux formats PDF, web et EPUB basée sur un générateur de site statique – Hugo et non Jekyll. Développé et maintenu par Getty Publications – la maison d'édition du musée The Getty –, Quire est encore en phase de test, mais il est déjà très prometteur (Fauchié, 2020).

p #[.tag modularité interopérabilité originalité]

:markdown-it
  ## Gabarit Abrupt
  Le Gabarit Abrupt est un ensemble de scripts et de modèles basés sur Markdown, Pandoc et LaTeX, et conçu pour produire facilement et avec justesse des livres aux formats PDF, web et EPUB. Il nécessité d'utiliser un terminal, mais permet également d'envisager un déploiement automatisé et de repenser notre usage de la technologie (Morozov, 2014).

p #[.tag modularité interopérabilité ouverture originalité]

:markdown-it
  ## Stylo
  Stylo est un éditeur de texte sémantique pour l'édition sémantique (Vitali-Rosati et et al., 2020), il applique le principe du WYSIWYM (What You See Is What You Mean) en opposition au WYSIWYG (What You See Is What You Get) des traitements de texte traditionnels qui confondent structure et mise en forme (Dehut, 2018).

p #[.tag modularité interopérabilité ouverture originalité]

style
  include:scss resultats.scss
