#resultats .content {
  font-family: "IBM Plex Sans" !important;
  padding: 1cm;
  text-align: justify;
  p {
    font-size: 24px !important;
  }
  h2 {
    font-family: "IBM Plex Mono" !important;
    font-size: 34px;
    margin-top: 1em;
    margin-bottom: -0.25em;
  }
  .figure {
    margin-top: 0.5cm;
  }
  .tag {
    margin-top: -1.25em;
    font-size: 22px !important;
    word-spacing: 1em;
    text-transform: uppercase;
    color: #2176FF;
    weight: 700;
  }
}

.title-r {
  font-family: "IBM Plex Mono" !important;
  background-color: #CBA135;
  border-radius: 0 0.2in 0.2in 0 !important;
  left: calc(-1rem - 1.2em);
  margin-right: -1.2em;
  padding-left: calc(1rem + 1.2em);
  padding-right: 1.2em;
  position: relative;
  margin: 0;
  min-width: max-content;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  background-image: none;
  padding: .5833em .833em;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  color: white;
  font-size: 60px;
}
