#sources {
  font-family: "IBM Plex Mono" !important;
  p { font-size: 20px !important;}
  .content {
    margin-top: 0.5cm;
    column-count: 4;
    column-gap: 1.5cm;
    column-fill: auto;
    padding: 1cm;
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;

    .bibitem {
      font-size: 26px !important;
      &:first-child {
        margin-top: 3cm;
      }
      margin-bottom: 0.2cm;
    }
  }

  .title-s {
    font-family: "IBM Plex Mono" !important;
    background-color: #272838;
    border-radius: 0 0.2in 0.2in 0 !important;
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;
    position: relative;
    margin: 0;
    min-width: max-content;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    background-image: none;
    padding: .5833em .833em;
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    color: white;
    font-size: 60px;
  }
}
