:markdown-it

  Dehut, J. (2018, janvier 23). En finir avec Word ! Pour une analyse des enjeux relatifs aux traitements de texte et à leur utilisation [Billet]. _L’atelier des savoirs_. https://eriac.hypotheses.org/80

  DeRose, S. J., Durand, D. G., Mylonas, E., & Renear, A. H. (1990). What is text, really? _Journal of Computing in Higher Education_, 1(2), 3‑26. https://doi.org/10.1007/BF02941632

  Diaz, C. (2018). Using Static Site Generators for Scholarly Publications and Open Educational Resources. _The Code4Lib Journal_, 42. https://journal.code4lib.org/articles/13861

  Dominik, C. (2010). _The Org Mode 7 Reference Manual—Organize your life with GNU Emacs_. Network Theory Ltd.

  Fauchié, A. (2020). Les technologies d’édition numérique sont-elles des documents comme les autres ? _Balisages_, 1. https://doi.org/10.35562/balisages.321

  Fauchié, A., & Parisot, T. (2018). Repenser les chaînes de publication par l’intégration des pratiques du développement logiciel. _Sciences du Design_, n° 8(2), 45‑56.

  Guichard, É. (2008, décembre 16). L’écriture scientifique. _L’Internet : Espace public et Enjeux de connaissance_. https://halshs.archives-ouvertes.fr/halshs-00347616/document

  Morozov, E. (2014). _Pour tout résoudre, cliquez ici : L’aberration du solutionnisme technologique_ (M.-C. Braud, Trad.). Fyp.

  Simondon, G. (2012). _Du mode d’existence des objets techniques_. Aubier.

  Vitali-Rosati, M., Sauret, N., Fauchié, A, & Mellet, M. (2020). Écrire les SHS en environnement numérique. L’éditeur de texte Stylo. _Revue Intelligibilité du numérique_, 1|2020. https://intelligibilite-numerique.numerev.com/numeros/n-1-2020/18-ecrire-les-shs-en-environnement-numerique-l-editeur-de-texte-stylo


style
  include:scss sources.scss
